In [ ]:
a=10
b=20
c=-5
a,b,a=a+c,b-c,b+c
print(a,b,c)

15 25 -5

In [ ]:
s="computer science"
print(s[2]+s[-4]+s[1:7])

meompute

In [ ]:
import random
val=[10,20,30,40,50,60,70,80]
start=random.randint(1,3)
stop=random.randint(start,4)
for x in range (start,stop+1):
  print(val[x],end="#")

40#

In [ ]:
def changelist(x,y):
  x[0]=25
  y=[2,3]
l1=[-11,-21]
l2=[14,23]
changelist(l1,l2)
print(l1[0],"#",l2[0])

25 # 14

In [ ]:
l1=[10,90,30,40,50]
start=1
s=0
for c in range(start,4):
  s=s+l1[c]
  print(c,":")
s=s+l1[0]*10
print(s)

1 :
2 :
3 :
260

In [ ]:
mystr="simplequestions"
print(mystr.count('e',2,12))
print(mystr.count('pl',2,12))

2
1

In [ ]:
d={'a':'arun','grade':'a'}
print(list(d.values()))

['arun', 'a']

In [ ]:
x=25
def modify(s,c=2):
  global x
  for a in s:
    if a in 'qweiop':
      x//=5
      print(a.upper(),'e',c*x)
    else:
      x+=5
      print(a.lower(),"#",c+x)
stra="sara"
modify(stra,10)
print(x,'&',stra)
strb="we"
modify(strb)
print(x,'&',strb)

s # 40
a # 45
r # 50
a # 55
45 & sara
W e 18
E e 2
1 & we

In [ ]:
print(5-2**2**2+99//11)

-2

In [ ]:
for i in "bvrit hyderabad":
  print(i.lower(),end="#")

b#v#r#i#t# #h#y#d#e#r#a#b#a#d#